footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 60px;

}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffcc00;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.footer-section .socials a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
}

.footer-section .socials a:hover {
    transform: scale(1.2);
}

.footer-section .socials img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
    color: #bbb;
}

.footer-bottom p {
    margin: 0;
}